.nav-tabs.navCenter {
  font-weight: bold;
}
#homeMovies .filmThumbnail .playTrailer {
  left: 110px;
}
#homeMovies .filmThumbnail {
  padding-top: 0;
}
#homeMovies {
  padding-top: 25px;
}
.slides1 {
  .slick-arrow {
    color: black;
    background-color: black;
    border-radius: 50%;
  }
  .slick-prev {
    z-index: 3;
    left: -20px !important;
  }
  .slick-next {
    z-index: 3;
    right: -20px !important;
  }
}
