.slides {
  margin-top: 60px;
  img {
    height: 630px;
  }
  .slick-arrow {
    color: black;
  }
  .slick-prev {
    z-index: 3;
    left: 20px !important;
  }
  .slick-next {
    z-index: 3;
    right: 20px !important;
  }
  .slick-dots {
    margin-bottom: 100px;
    z-index: 3;
    li {
      button::before {
        color: #d8d8d8;
        font-size: 12px;
        border: none;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        padding: 0;
        user-select: none;
      }
    }
  }
}

#sliderTrailer {
  position: static;
}
